<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.jchytech.pka-email-digest</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>/Users/jchavauxm5/PKA_JCH/scripts/email_digest.py</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/jchavauxm5/PKA_JCH</string>
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Hour</key><integer>9</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Hour</key><integer>14</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Hour</key><integer>20</integer><key>Minute</key><integer>0</integer></dict>
  </array>
  <key>StandardOutPath</key>
  <string>/Users/jchavauxm5/PKA_JCH/tmp/email-digest.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/jchavauxm5/PKA_JCH/tmp/email-digest.log</string>
</dict>
</plist>
